In [1]:
from pathlib import Path
import sys
import os
import json
import streamlit as st
from web3 import Web3
w3 = Web3(Web3.HTTPProvider('HTTP://127.0.0.1:7545'))
from dataclasses import dataclass
from typing import Any, List
import datetime as datetime
import pandas as pd
import hashlib
import streamlit as st  
from dotenv import load_dotenv
from PIL import Image
from streamlit_extras.colored_header import colored_header
from ether_wallet import generate_account, get_balance, send_transaction
from boto3 import client
import boto3

2023-01-14 13:55:06.047 WARNING dotenv.main: Python-dotenv could not parse statement starting at line 2
2023-01-14 13:55:06.050 WARNING dotenv.main: Python-dotenv could not parse statement starting at line 6

In [2]:
load_dotenv()

2023-01-14 13:55:06.451 WARNING dotenv.main: Python-dotenv could not parse statement starting at line 2
2023-01-14 13:55:06.452 WARNING dotenv.main: Python-dotenv could not parse statement starting at line 6

True

In [3]:
s3 = boto3.resource(
    service_name='s3',
    region_name='us-east-1',
    aws_access_key_id='AKIAUQRXW2VDXBWR7MNO',
    aws_secret_access_key='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')

In [4]:
for bucket in s3.buckets.all():
    print(bucket.name)

insurance4life

In [5]:
for obj in s3.Bucket('insurance4life').objects.all():
    print(obj)

s3.ObjectSummary(bucket_name='insurance4life', key='sample.json')

In [6]:
content_object = s3.Object('insurance4life', 'sample.json')
file_content = content_object.get()['Body'].read().decode('utf-8')
json_content = json.loads(file_content)

In [7]:
print(json_content)

{'prices': [87.75, 163.79999999999998, 234.0, 321.75]}

In [8]:
print(json_content['prices'])

[87.75, 163.79999999999998, 234.0, 321.75]

In [9]:
prices = pd.DataFrame(json_content)

s3 = boto3.resource('s3')

content_object = s3.Object('insurance4life', 'sample.json')
file_content = content_object.get()['Body'].read().decode('utf-8')
json_content = json.loads(file_content)
print(json_content['prices'])

In [10]:
prices.dtypes

prices    float64
dtype: object

In [11]:
prices = prices.astype(float)

In [12]:
prices.dtypes

prices    float64
dtype: object

In [13]:
prices

   prices
0   87.75
1  163.80
2  234.00
3  321.75

In [14]:
prices = pd.DataFrame(prices)

### PLANS

In [15]:
plans = {'plans' : ["bronze", "silver", "gold", "platinum"]}

In [16]:
plans = pd.DataFrame(plans)

In [17]:
plans

      plans
0    bronze
1    silver
2      gold
3  platinum

In [18]:
plans.dtypes

plans    object
dtype: object

#### CONCAT Plans and Prices

In [19]:
table = pd.concat([plans, prices], axis=1)

<!-- prices = (json_content['prices'])
bronze = prices[0]
silver = prices[1]
gold = prices[2]
platinum = prices[3] -->

In [20]:
display(table)

      plans  prices
0    bronze   87.75
1    silver  163.80
2      gold  234.00
3  platinum  321.75

In [21]:
table.dtypes

plans      object
prices    float64
dtype: object

In [22]:
print(table.convert_dtypes().dtypes)

plans      string
prices    Float64
dtype: object

In [23]:
table

      plans  prices
0    bronze   87.75
1    silver  163.80
2      gold  234.00
3  platinum  321.75

<!-- print("Bronze price is {:.2f}".format(bronze))
print ("Silver price is {:.2f}".format(silver))
print ("Gold price is {:.2f}".format(gold))
print ("Platinum price is {:.2f}".format(platinum)) -->

In [24]:
Bronce_price = table['prices'].loc[table.index[0]]
Bronce_price

87.75

In [25]:
Silver_price = (table['prices'].loc[table.index[1]])
Silver_price

163.79999999999998

In [26]:
Gold_price = (table['prices'].loc[table.index[2]])
Gold_price

234.0

In [27]:
Platinum_price = (table['prices'].loc[table.index[3]])
Platinum_price

321.75

#### ETHER Crypto calculations

In [28]:
from pycoingecko import CoinGeckoAPI

In [29]:
cg = CoinGeckoAPI()
eth = cg.get_price(ids='ethereum',
                    vs_currencies='usd',
                    include_market_cap='true',
                    include_24hr_vol='true',
                    include_24hr_change='true',
                    include_last_updated_at='true')

In [30]:
eth

{'ethereum': {'usd': 1537.94,
  'usd_market_cap': 185491355908.27948,
  'usd_24h_vol': 16137594267.708172,
  'usd_24h_change': 5.779276223793425,
  'last_updated_at': 1673733296}}

In [31]:
eth = pd.DataFrame(eth)

In [32]:
eth

                     ethereum
last_updated_at  1.673733e+09
usd              1.537940e+03
usd_24h_change   5.779276e+00
usd_24h_vol      1.613759e+10
usd_market_cap   1.854914e+11

In [33]:
eth.dtypes

ethereum    float64
dtype: object

In [34]:
usd = (eth['ethereum'].loc[eth.index[1]])

In [35]:
usd

1537.94

In [36]:
table

      plans  prices
0    bronze   87.75
1    silver  163.80
2      gold  234.00
3  platinum  321.75

In [37]:
plans_eth = table['prices'].div(usd)

2023-01-14 13:55:08.864 INFO    numexpr.utils: NumExpr defaulting to 8 threads.

In [38]:
plans_eth

0    0.057057
1    0.106506
2    0.152152
3    0.209208
Name: prices, dtype: float64

In [39]:
plans_eth=pd.DataFrame(plans_eth)

In [40]:
plans_eth

     prices
0  0.057057
1  0.106506
2  0.152152
3  0.209208

In [41]:
pd.options.display.float_format = '{:,.2f}'.format
plans_eth

   prices
0    0.06
1    0.11
2    0.15
3    0.21

In [42]:
table = pd.concat([table, plans_eth], axis=1)

In [43]:
table

      plans  prices  prices
0    bronze   87.75    0.06
1    silver  163.80    0.11
2      gold  234.00    0.15
3  platinum  321.75    0.21

In [44]:
table.columns = [*table.columns[:-1], 'plans_in_eth']

In [45]:
table

      plans  prices  plans_in_eth
0    bronze   87.75          0.06
1    silver  163.80          0.11
2      gold  234.00          0.15
3  platinum  321.75          0.21

In [46]:
table.dtypes

plans            object
prices          float64
plans_in_eth    float64
dtype: object

In [47]:
table1 = pd.DataFrame(table)

In [48]:
table1

      plans  prices  plans_in_eth
0    bronze   87.75          0.06
1    silver  163.80          0.11
2      gold  234.00          0.15
3  platinum  321.75          0.21

In [49]:
eth_silver =(table1['plans_in_eth'].loc[table1.index[1]])
eth_silver

0.10650610556978814

In [50]:
st.sidebar.title("PLATINUM $ {:.2f} ".format(Platinum_price))

2023-01-14 13:55:09.301
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

DeltaGenerator(_root_container=1, _provided_cursor=None, _parent=DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None), _block_type=None, _form_data=None)

In [51]:
eth_gold =(table['plans_in_eth'].loc[table.index[2]])
eth_gold

0.15215157938541166

In [52]:
eth_platinum =(table['plans_in_eth'].loc[table.index[3]])
eth_platinum

0.20920842165494102

In [53]:
table.dtypes

plans            object
prices          float64
plans_in_eth    float64
dtype: object

In [54]:
table1.dtypes

plans            object
prices          float64
plans_in_eth    float64
dtype: object

#### TRANSACTION

In [55]:
candidate_database = {
    "Lane": ["Lane", "0xaC8eB8B2ed5C4a0fC41a84Ee4950F417f67029F0", "4.3", .20, "Images/lane.jpeg"],
    "Ash": ["Ash", "0x2422858F9C4480c2724A309D58Ffd7Ac8bF65396", "5.0", .33, "Images/ash.jpeg"],
    "Jo": ["Jo", "0x8fD00f170FDf3772C5ebdCD90bF257316c69BA45", "4.7", .19, "Images/jo.jpeg"],
    "Kendall": ["Kendall", "0x8fD00f170FDf3772C5ebdCD90bF257316c69BA45", "4.1", .16, "Images/kendall.jpeg"]
}

In [56]:
usd

1537.94

In [57]:
# (candidate_database['Lane'])

In [58]:
table1

      plans  prices  plans_in_eth
0    bronze   87.75          0.06
1    silver  163.80          0.11
2      gold  234.00          0.15
3  platinum  321.75          0.21

In [59]:
eth_bronze = (table1['plans_in_eth'].loc[table.index[0]])
eth_bronze = float('{:0.2f}'.format(eth_bronze))
eth_bronze

0.06

In [61]:
eth_silver = (table1['plans_in_eth'].loc[table.index[1]])
eth_silver = float('{:0.2f}'.format(eth_silver))
eth_silver

0.11